{% extends "base.html" %}
{% block content %}
  <h2>Пользователь: {{ user.name }} (ID: {{ user.id }})</h2>

  <h3>Отслеживаемые валюты</h3>

  {% if currencies %}
    <table>
      <tr><th>Код</th><th>Название</th><th>Номинал</th><th>Курс</th></tr>
      {% for c in currencies %}
      <tr>
        <td>{{ c.char_code }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.nominal }}</td>
        <td>{{ "%.4f"|format(c.value) }} ₽</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Подписок пока нет.</p>
  {% endif %}
{% endblock %}
